* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Text', 'roboto', 'arial';
  scroll-behavior: smooth;

}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 2px;
}

body {
  overflow-X: hidden;
  list-style-type: none;
}

.container {
  max-width: 1400px;
}

.about .container {
  margin-top: 20vh;
}

.ml-6 {
  margin-left: 30%;
}

.mt-8p {
  margin-top: 8%;
}

.b-1 {
  border: 1px solid black;
}

.br-0 {
  border-right: none;
}

div.home {
  position: relative;
  min-height: 100vh;
  background-image: url('../img/home.jpg');
  background-size: cover;

}

div.homePhoto {

  /* height: calc(50vh - 70px);
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center 70%; */
}
.home__text{
position: absolute;
width: 60%;
right: 20px;
bottom: 200px;
  font-size: 48px;
  text-align: center;
font-weight: bold;
}
.home__text h1{
  font-size: 38px;
  font-weight: bold;
  color: white;
}
  .home__text p{
    margin: auto;
    width: 100%;
  opacity: 0;
  position: absolute;
  color: white;
  text-align: center;
}
.home__text p:nth-of-type(1)
{
  -webkit-animation: 40s opa linear infinite;
          animation: 40s opa linear infinite;
}
.home__text p:nth-of-type(2)
{
  -webkit-animation:40s 4s opa linear infinite;
          animation:40s 4s opa linear infinite;
}
.home__text p:nth-of-type(3)
{
  -webkit-animation:40s 8s opa linear infinite;
          animation:40s 8s opa linear infinite;
}
.home__text p:nth-of-type(4)
{

  -webkit-animation:40s 12s opa linear infinite;

          animation:40s 12s opa linear infinite;
}
.home__text p:nth-of-type(5)
{
  -webkit-animation:40s 16s opa linear infinite;
          animation:40s 16s opa linear infinite;
}
.home__text p:nth-of-type(6)
{
  -webkit-animation:40s 20s opa linear infinite;
          animation:40s 20s opa linear infinite;
}
.home__text p:nth-of-type(7)
{
  -webkit-animation:40s 24s opa linear infinite;
          animation:40s 24s opa linear infinite;
}
.home__text p:nth-of-type(8)
{
  -webkit-animation:40s 28s opa linear infinite;
          animation:40s 28s opa linear infinite;
}
.home__text p:nth-of-type(9)
{
  -webkit-animation:40s 32s opa linear infinite;
          animation:40s 32s opa linear infinite;
}
.home__text p:nth-of-type(10)
{
  -webkit-animation:40s 36s opa linear infinite;
          animation:40s 36s opa linear infinite;
}


@-webkit-keyframes opa{
  0%{
    opacity: 0;
  }
  4%{opacity: 1;}
  6%{opacity: 1;}
  10%{opacity: 0;}
}


@keyframes opa{
  0%{
    opacity: 0;
  }
  4%{opacity: 1;}
  6%{opacity: 1;}
  10%{opacity: 0;}
}
div.bottomDiv {
  display: none;

}






div.services {
  position: relative;
  /* height: 100vh; */
  font-weight: bold;

}

div.h1 {
  /* height: 30vh;
  line-height: 30vh; */
  font-weight: bold;
  text-align: center;
}

.pt-6 {
  padding-top: 5%;
}

.mb-80px {
  margin-bottom: 80px;
}

.mt-100px {
  margin-top: 100px;
}

.pb-50px {
  padding-bottom: 80px;
}

.price .modal-content {
  /* min-width: 800px; */
  min-height: 80vh;

}

.modal-body p {
  margin-top: 20px;

}

.price .modal-body img {
  display: block;
  -webkit-box-shadow: 0 0 10px 2px black;
          box-shadow: 0 0 10px 2px black;
  margin-top: 20px;
  height: 200px !important;
  width: 200px !important;
  border-radius: 0% !important;
}




.services .container h1 {
  font-weight: 500;
  font-family: roboto;
  font-style: italic;
  text-shadow: 0 0 3px royalblue;
}

.about .container h1,
.price>h1 {
  font-weight: bold;
  font-family: roboto;
  font-style: italic;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.servBGC {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
  background-color: grey;
  z-index: -1;
}

.serv1 {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  z-index: 1;
}

.scaleOfImg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services img {
  -webkit-transition: .5s linear;
  transition: .5s linear;

}
.showMore{
  position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
padding: 5px 20px;
border-radius: 50px;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white{
  background:rgb(184, 179, 179);
  color:#000;
}

.btn:hover{
   -webkit-box-shadow:0px 10px 10px rgba(0,0,0,0.2);
           box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   -webkit-transform : translateY(-3px), translateX(-50%);
           transform : translateY(-3px), translateX(-50%);
}

.btn:active{
  -webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.2);
          box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  -webkit-transform:translateY(-1px), translateX(-50%);
          transform:translateY(-1px), translateX(-50%);
}

.btn-bottom-animation-1{
  -webkit-animation:comeFromBottom 1s ease-out .8s;
          animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white::after {
    background: rgb(184, 179, 179);;
}

.btn-animation-1:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@-webkit-keyframes comeFromBottom{
  0%{
    opacity:0;
    -webkit-transform:translateY(40px);
            transform:translateY(40px);
  } 
  100%{
    opacity:1;
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    -webkit-transform:translateY(40px);
            transform:translateY(40px);
  } 
  100%{
    opacity:1;
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}
div.price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;

}

.price .container img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

div.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  /* background-color: wheat; */
}

div.about img {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

.priceOffert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  /* flex-wrap: wrap; */

}

.card {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;

}

.priceOffert span {
  font-size: 48px;
  font-family: 'chilanka', 'roboto';
  font-weight: bold;
  padding: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  color: yellowgreen;
}

.priceOffert div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      align-self: center;

}

.priceOffert div p {
  padding: 0;
  margin: 0;
}

.priceOffert ul {
  list-style-type: circle;
  font-size: 0.2rem !important;
}

.priceOffert ul li {
  font-size: 0.5rem;
}

.about .aboutBGC {
  -webkit-clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

.price .BGC {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

.contact .BGC {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

div.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 700px;
}



.controls {
  text-align: center;

}

.controls i {
  color: black;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  font-size: 4rem;
}

.controls i:hover {
  color: grey;
}

div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 50vh;

}


.topDiv {
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: right;
  line-height: 70px;
  padding-right: 10%;
}

.topDiv p {
  font-size: 28px;
  font-family: 'roboto' !important;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  font-style: italic;
}

nav {
  /* position: fixed; */
  top: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  width: 60%;
  left: 50%;
  -webkit-transform: translate(-50%,20%);
          transform: translate(-50%,20%);
  border-radius: 150px;
  z-index: 1;
}

nav ul a {
  cursor: pointer;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  border-radius: 0;
}

.homeContent {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 20px;
  height: 80%;
  width: 80%;
  margin: auto;
  border: 5px solid black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  border-radius: 50px;
}

.homeContent p {
  position: absolute;
  border-radius: 50px;
  border: 5px solid black;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  left: 5%;
  background-color: skyblue;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px;
  font-weight: bold;
}


.navbar a.active {
  border: 2px solid black;
  font-weight: bold;
  border-radius: 80px;
  padding: 5px;
}

.contact .line {
  margin-bottom: 20px;
}

.contact .container {

  font-weight: 500;
  font-size: 18px;
  ;
}

.contact .container .card {
  width: 70%;
}

.contact .BGC {

  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.contactTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-top: 10px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  background-image: url('../img/kontakt.jpg');
  background-size: cover;
  background-position: 80% 20%;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  /* box-shadow: 0 10px 15px black; */
}

.contactLoc {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 1px solid black;

}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 200px; */
  background-color: black;
  color: white;
}

.footer h1 {
  border-top: 1px solid white;
  padding-top: 15px;
}

.footer ul {
  list-style-type: none;
}

.line {
  /* position: absolute; */
  height: 2px;
  width: 80%;
  margin: 0 auto;
  /* left: 40%; */
  background-color: black;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;

}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
  nav{
    width: 100%;
    border-radius: 0;
    left: 0;
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
  }
  nav.sticky{
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
  }
.navbar-toggler{
  margin: 5px;
}
.home__text{
  bottom: 120px;
}
.home__text h1{
  font-size: 28px;
}
.home__text p {
  font-size: 24px;;
}
  div.bottomDiv {
    bottom: 10px;
    right: 10px;
  }

  .topDiv {
    text-align: center;
    padding: 0;
  }


  div.bottomDiv {
    position: fixed;
    display: block;
    bottom: 10px;
    left: 10px;
    width: 10vh;
    height: 10vh;
    background-color: black;
    color: white;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid cadetblue;

  }

  div.bottomDiv div {
    font-size: 34px;
    line-height: calc(10vh - 10px);
    text-align: center;
    color: cadetblue;
  }

  .fa-phone {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: shake 6s infinite linear both;
            animation: shake 6s infinite linear both;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;}



  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    80% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    81% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    82% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    83% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    84% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    85% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    86% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    87% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    88% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    89% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    91% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    92% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    93% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    94% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    95% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    96% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    97% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    98% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    99% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    100% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

  }



  @keyframes shake {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    80% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    81% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    82% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    83% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    84% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    85% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    86% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    87% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    88% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    89% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    91% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    92% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    93% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    94% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    95% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    96% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    97% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    98% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    99% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }

    100% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

  }

  div.h1 {
    font-size: 28px;
    /* line-height: 18px; */
  }

  .b-1 {
    border: none;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
  }




  .navbar ul a.active {
    border: none !important;
    font-weight: bold;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  .homeContent {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    top: 40%;
  }

  .home {
    background-position: 40% center;
  }

  .serv1 {
    height: 200px;
    width: 200px;
  }

  .contact .container .card {
    width: 90%;
  }

  .contact .container .card .row {
    text-align: center;
  }
}