* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', 'arial';
  scroll-behavior: smooth;

}

body {
  overflow-X: hidden;
  list-style-type: none;
}

.container {
  max-width: 1400px;
}

.about .container {
  margin-top: 20vh;
}

.ml-6 {
  margin-left: 30%;
}

.mt-8p {
  margin-top: 8%;
}

.b-1 {
  border: 1px solid black;
}

.br-0 {
  border-right: none;
}

div.home {
  position: relative;
  height: 100vh;

}

div.homePhoto {

  height: 50vh;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center 70%;
}



div.services {
  position: relative;
  /* height: 100vh; */
  font-weight: bold;

}

div.h1 {
  /* height: 30vh;
  line-height: 30vh; */
  font-weight: bold;
  text-align: center;
}

.pt-6 {
  padding-top: 5%;
}

#services-icons {}

.servBGC {
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
  background-color: grey;
  z-index: -1;
}

.serv1 {
  height: 300px;
  width: 300px;
  border-radius: 50px;

  z-index: 1;
}



div.price {
  position: relative;
  min-height: 100vh;

}

.price .container img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

div.about {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  /* background-color: wheat; */
}

div.about img {
  box-shadow: 0 0 10px white;
}

.priceOffert {
  display: flex;
  align-items: center;
  width: 70%;
  flex-basis: 49%;
  /* flex-wrap: wrap; */

}

.card {
  box-shadow: 0 0 10px black;

}

.priceOffert span {
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  flex-wrap: nowrap;
  display: block;
  align-self: center;
  flex-basis: 20%;
  color: yellowgreen;
}

.priceOffert div {
  flex-basis: 100%;
  align-self: center;

}

.priceOffert div p {
  padding: 0;
  margin: 0;
}

.priceOffert ul {
  list-style-type: circle;
  font-size: 0.2rem !important;
}

.priceOffert ul li {
  font-size: 0.5rem;
}

.about .aboutBGC {
  clip-path: polygon(0 0, 100% 48%, 100% 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

.price .BGC {
  clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

.contact .BGC {
  clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: grey;
  z-index: -1;
}

div.contact {
  position: relative;
  min-height: 100vh;

}


.topDiv {
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 70px;
}

nav {
  /* position: fixed; */
  top: 0;
  transition: .2s all linear;
  width: 100%;
  z-index: 1;
}

nav ul a {
  cursor: pointer;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.homeContent {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 20px;
  height: 80%;
  width: 80%;
  margin: auto;
  border: 5px solid black;
  box-shadow: 0 0 15px white;
  border-radius: 50px;
}

.homeContent p {
  position: absolute;
  border-radius: 50px;
  border: 5px solid black;
  box-shadow: 0 0 15px white;
  left: 5%;
  background-color: skyblue;
  transform: translateY(-50%);
  padding: 5px;
  font-weight: bold;
}


.navbar a.active {
  border: 2px solid black;
  font-weight: bold;
}

.contact .line {
  margin-bottom: 20px;
}

.contactTop {
  display: flex;
  /* margin-top: 10px; */
  flex-direction: column;
  height: 350px;
  background-image: url('../img/kontakt.jpg');
  background-size: cover;
  background-position: 80% 20%;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  /* box-shadow: 0 10px 15px black; */
}

.contactLoc {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 1px solid black;

}

.locations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.footer {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
  background-color: black;
  color: white;
}

.footer h1 {
  border-top: 1px solid white;
  padding-top: 15px;
}

.footer ul {
  list-style-type: none;
}

.line {
  /* position: absolute; */
  height: 2px;
  width: 80%;
  margin: 0 auto;
  /* left: 40%; */
  background-color: black;
  animation-play-state: paused;

}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }



  div.h1 {
    font-size: 28px;
    /* line-height: 18px; */
  }

  .b-1 {
    border: none;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
  }



  .navbar ul a.active {
    border: none !important;
    font-weight: bold;
    transform: scale(1.2);
  }

  .homeContent {
    border: none;
    box-shadow: none;
    width: 100%;
    top: 40%;
  }

  .home {
    background-position: 40% center;
  }
}